<form [formGroup]="newForm">

  <input type="text" formControlName="name">

  <input type="range" min="0" max="100" formControlName="rate">

  <p>Hodnota posuvníku: {{ range.value }}</p>
  <button type="submit" (click)="onSubmit()">uložit</button>

</form>

<h2>Seznam vložených hodnocení (celkový počet: {{totalCount}})</h2>
<div *ngFor="let item of MovieList">
  <div *ngIf="!item.edit">
  <p>{{ item.name }} - {{ item.rate }} (vloženo: {{item.added_at|date}})</p>
  <button type="submit" (click)="editMovie(item.id)">Upravit</button>
  <button type="submit" (click)="deleteMovie(item.id)">Smazat</button>
  </div>

  <form *ngIf="item.edit" [formGroup]="editForm">

    <input type="text" value="{{item.name}}" formControlName="name">

    <input type="range" value="{{item.rate}}" formControlName="rate">
    <button (click)="updateMovie(item.id)">Uložit</button>

  </form>
</div>
